* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, button {
  border: none;
  text-decoration: none;
  list-style: none;
}

.pos-rela {
  position: relative;
}

.pos-abso {
  position: absolute;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

@-webkit-keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#mid-wrap {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#door-wrap {
  max-width: 350px;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#door-wrap h1 {
  color: #f2f2f2;
  margin: 20px auto;
  text-align: center;
}
#door-wrap > #door-box {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: rotateDoor 3s linear infinite;
          animation: rotateDoor 3s linear infinite;
}
#door-wrap > #door-box > #door-top {
  width: 200px;
  height: 20px;
  background-color: #92E8A7;
}
#door-wrap > #door-box > #door-bottom {
  width: 200px;
  height: 20px;
  background-color: #92E8A7;
}
#door-wrap > #door-box > #door-mid {
  width: 180px;
  height: 350px;
  margin: 0 auto;
  background-color: #2E5F42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 1s;
}
#door-wrap > #door-box > #door-mid.toggle {
  transform: rotateY(120deg);
}
#door-wrap > #door-box > #door-mid > #logo {
  font-size: 7rem;
  color: #f2f2f2;
}
#door-wrap > #door-box > #door-mid > #door-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #92E8A7;
  top: 50%;
  right: 10%;
}
#door-wrap > #door-box > #door-back {
  width: 180px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  z-index: -1;
}

@-webkit-keyframes rotateDoor {
  from {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateDoor {
  from {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#chatting-wrap {
  margin: 0 auto;
  border: 1px solid;
  width: 60%;
  height: 80%;
  max-width: 550px;
}
#chatting-wrap > #phone-box {
  max-width: 500px;
  min-width: 300px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 5px solid #2C2C2C;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#chatting-wrap > #phone-box > #chatting-list {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#chatting-wrap > #phone-box > #chatting-list > div {
  max-width: 250px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
#chatting-wrap > #phone-box > #chatting-list > #me {
  border: 1px solid;
  align-self: flex-end;
}
#chatting-wrap > #phone-box > #chatting-list > #me > #me-icon {
  width: 30px;
  height: 30px;
  background-color: #92E8A7;
  top: -15px;
  left: -15px;
  border-radius: 10px;
}
#chatting-wrap > #phone-box > #chatting-list > #other {
  border: 1px solid;
  align-self: flex-start;
}
#chatting-wrap > #phone-box > #chatting-list > #other > #other-icon {
  width: 50px;
  height: 40px;
  background-color: #f2f2f2;
  top: -20px;
  right: -20px;
  border-radius: 10px;
  background-image: url("../img/logo-b.gif");
  background-size: contain;
}