* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
button {
  border: none;
  text-decoration: none;
  list-style: none;
}

.pos-rela {
  position: relative;
}

.pos-abso {
  position: absolute;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

@-webkit-keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#revolution-wrap {
  margin-top: 50px;
  max-width: 600px;
  max-height: 600px;
  width: 90%;
  height: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#revolution-wrap > #revolution-box {
  width: 95%;
  height: 95%;
}
#revolution-wrap > #revolution-box > #revolution {
  border-radius: 50%;
  color: #f2f2f2;
  border: 2px solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(1) > #box {
  width: 150%;
  height: 150%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(2) > #box {
  width: 100%;
  height: 100%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(2) > #box #talk-wrap {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -180%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(3) > #box {
  width: 92%;
  height: 92%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(3) > #box #talk-wrap {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -180%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(4) > #box {
  width: 87%;
  height: 87%;
}
#revolution-wrap > #revolution-box > #revolution:nth-child(5) > #box {
  width: 85%;
  height: 85%;
}
#revolution-wrap > #revolution-box > #revolution > #box {
  transform: rotate(360deg);
}
#revolution-wrap > #revolution-box > #revolution > #box > #icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: #f2f2f2;
  color: #2C2C2C;
}

#talk-wrap {
  width: 150px;
  top: -100%;
  left: -100%;
}
#talk-wrap > #talk-box {
  background-color: #f2f2f2;
  text-align: center;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  margin: 0 auto;
}
#talk-wrap > #tr {
  width: 0;
  height: 0;
  border-top: 10px solid #f2f2f2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
}

#revolution:nth-child(1) {
  width: 20%;
  height: 20%;
  z-index: 9;
}
#revolution:nth-child(1) > #box {
  -webkit-animation: rotateAni 5s linear infinite;
          animation: rotateAni 5s linear infinite;
}
#revolution:nth-child(1) > #box > #icon-box {
  -webkit-animation: rotateAniTwo 5s linear infinite;
          animation: rotateAniTwo 5s linear infinite;
}

#revolution:nth-child(2) {
  width: 40%;
  height: 40%;
  z-index: 8;
}
#revolution:nth-child(2) > #box {
  -webkit-animation: rotateAni 10s linear infinite;
          animation: rotateAni 10s linear infinite;
}
#revolution:nth-child(2) > #box > #icon-box {
  -webkit-animation: rotateAniTwo 10s linear infinite;
          animation: rotateAniTwo 10s linear infinite;
}

#revolution:nth-child(3) {
  width: 60%;
  height: 60%;
  z-index: 7;
}
#revolution:nth-child(3) > #box {
  -webkit-animation: rotateAni 15s linear infinite;
          animation: rotateAni 15s linear infinite;
}
#revolution:nth-child(3) > #box > #icon-box {
  -webkit-animation: rotateAniTwo 15s linear infinite;
          animation: rotateAniTwo 15s linear infinite;
}

#revolution:nth-child(4) {
  width: 80%;
  height: 80%;
  z-index: 6;
}
#revolution:nth-child(4) > #box {
  -webkit-animation: rotateAni 20s linear infinite;
          animation: rotateAni 20s linear infinite;
}
#revolution:nth-child(4) > #box > #icon-box {
  -webkit-animation: rotateAniTwo 20s linear infinite;
          animation: rotateAniTwo 20s linear infinite;
}

#revolution:nth-child(5) {
  width: 100%;
  height: 100%;
  z-index: 5;
}
#revolution:nth-child(5) > #box {
  -webkit-animation: rotateAni 25s linear infinite;
          animation: rotateAni 25s linear infinite;
}
#revolution:nth-child(5) > #box > #icon-box {
  -webkit-animation: rotateAniTwo 25s linear infinite;
          animation: rotateAniTwo 25s linear infinite;
}