* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, button {
  border: none;
  text-decoration: none;
  list-style: none;
}

.pos-rela {
  position: relative;
}

.pos-abso {
  position: absolute;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}