* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
button {
  border: none;
  text-decoration: none;
  list-style: none;
}

.pos-rela {
  position: relative;
}

.pos-abso {
  position: absolute;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

@-webkit-keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotateAniTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}