@import 'source';

#mid-wrap{
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  @include flex(space-around, center, row);
}

#door-wrap{
  max-width: 350px;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1{
    color: $ele-w;
    margin: 20px auto;
    text-align: center;
  }

  >#door-box{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    animation: rotateDoor 3s linear infinite;
    

    > #door-top{
      width: 200px;
      height: 20px;
      background-color: $dinosaur-mint;
    }
    > #door-bottom{
      width: 200px;
      height: 20px;
      background-color: $dinosaur-mint;
    }
  
    > #door-mid{
      width: 180px;
      height: 350px;
      margin: 0 auto;
      background-color: $golf;
      display: flex;
      @include flex(center,center,column);
      transform-style: preserve-3d;
      transform-origin: left center;
      transition: transform 1s;
      
      &.toggle{
        transform: rotateY(120deg);
      }
  
      > #logo{
        font-size: 7rem;
        color: $ele-w;
      }
  
      > #door-handle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $dinosaur-mint;
        top: 50%;
        right: 10%;
      }
    }
    > #door-back{
      width: 180px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $ele-w;
      z-index: -1;
    }
  }
}

@keyframes rotateDoor {
  from{ transform: rotate(0deg); }
  30%{transform: rotate(25deg);}
  60%{transform: rotate(-25deg);}
  to{ transform: rotate(0deg); }
}

#chatting-wrap{
  margin: 0 auto;
  border: 1px solid;
  width: 60%;
  height: 80%;
  max-width: 550px;

  >#phone-box{
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 5px solid $ele-d;
    border-radius: 20px;
    background-color: $ele-w;
    display: flex;
    @include flex(center,center,column);

    >#chatting-list{
      width: 90%;
      height: 90%;
      display: flex;
      @include flex(flex-start, center, column);

      > div{
        max-width: 250px;
        width: fit-content;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
      }

      > #me{
        border: 1px solid;
        align-self: flex-end;
        >#me-icon{
          width: 30px;
          height: 30px;
          background-color: $dinosaur-mint;
          top: -15px;
          left: -15px;
          border-radius: 10px;
        }
      }
      > #other{
        border: 1px solid;
        align-self: flex-start;
        >#other-icon{
          width: 50px;
          height: 40px;
          background-color: $ele-w;
          top: -20px;
          right: -20px;
          border-radius: 10px;
          background-image: url('../img/logo-b.gif');
          background-size: contain;
        }
      }
    }
  }
}