@import 'source';

#mid-wrap{
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  @include flex(space-around, center, row)
}

#door-wrap{
  max-width: 350px;
  width: 60%;
  height: 80%;
  margin: 0 auto;

  h1{
    color: $ele-w;
    margin: 20px auto;
    text-align: center;
  }

  >#door-box{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;

    > #door-top{
      width: 200px;
      height: 20px;
      background-color: $dinosaur-mint;
    }
    > #door-bottom{
      width: 200px;
      height: 20px;
      background-color: $dinosaur-mint;
    }
  
    > #door-mid{
      width: 180px;
      height: 350px;
      margin: 0 auto;
      background-color: $golf;
      display: flex;
      @include flex(center,center,column);
  
      > #logo{
        font-size: 7rem;
        color: $ele-w;
      }
  
      > #door-handle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $dinosaur-mint;
        top: 50%;
        right: 10%;
      }
    }
  }
}

#chatting-wrap{
  margin: 0 auto;
  border: 1px solid;
  width: 60%;
  height: 80%;
  max-width: 550px;
}