*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li, button{
  border: none;
  text-decoration: none;
  list-style: none;
}

// color
$ele-w : #f2f2f2;
$ele-d : #2C2C2C;

$dinosaur-mint: #92E8A7;
$dinosaur-yellow : #FEDE70;
$dinosaur-red : #FF7373;
$dinosaur-dg : #42694C;

$mycolor-1 : #D2B9E0;
$mycolor-3 : #8A62A3;
$mycolor-4 : #493457;

$grad-b : #72A6C2;

$golf : #2E5F42;
$luckygame : #102742;

// size


// class
.pos-rela{
  position: relative;
}
.pos-abso{
  position: absolute;
}

.display-none{
  display: none;
}
.display-block{
  display: block;
}
.display-flex{
  display: flex;
}

// @mixin
@mixin flex($jus, $align, $direction) {
  justify-content: $jus;
  align-items: $align;
  flex-direction: $direction;
}

// animation
@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAniTwo {
  from {
    transform: rotate(-0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}